openapi: 3.0.0
info:
  title: File Management Service API
  version: 1.0.0
paths:
  /files:
    get:
      summary: List all files
      responses:
        "200":
          description: A list of files
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    size:
                      type: integer
    post:
      summary: Upload a new file
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: File uploaded
